<aside>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport>
      <span>
        <a routerLink="">
          <img src="assets/logo.png" alt="" />
        </a>
      </span>
      <mat-nav-list class="list">
        <mat-list-item>
          <a routerLink="">
            <mat-icon> home </mat-icon>
            Início
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud">
            <mat-icon> inventory_2</mat-icon>
            Produtos
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</aside>
